.progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    border: none;
    border-radius: $border-radius;
    padding: 0;
    margin: .75rem 0;
    height: 1.5rem;
    width: 100%;
    overflow: hidden;
}

.progress::-webkit-progress-bar { 
    background: #F4F4F4;
}

.progress::-webkit-progress-value {
    border-radius: $border-radius;
    background: $default-color;
}

.progress:indeterminate {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: indeterminate;
    animation-name: indeterminate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background-color: #F4F4F4;
    background-image: linear-gradient(to right, $default-color 15%, #F4F4F4 15%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150% 150%;
}

.progress:indeterminate::-webkit-progress-bar { 
    background-color: transparent;
}
.progress:indeterminate::-moz-progress-bar {
    background-color: transparent;
}

.progress.small { 
    height: 1rem; 
}

.progress.large {
    height: 2rem;
}

.progress.primary::-webkit-progress-value { background: $primary-color; }
.progress.primary:indeterminate { background-image: linear-gradient(to right, $primary-color 15%, #F4F4F4 15%); }

.progress.success::-webkit-progress-value { background: $success-color; }
.progress.success:indeterminate { background-image: linear-gradient(to right, $success-color 15%, #F4F4F4 15%); }

.progress.error::-webkit-progress-value { background: $error-color; }
.progress.error:indeterminate { background-image: linear-gradient(to right, $error-color 15%, #F4F4F4 15%); }

.progress.info::-webkit-progress-value { background: $info-color; }
.progress.info:indeterminate { background-image: linear-gradient(to right, $info-color 15%, #F4F4F4 15%); }

@keyframes indeterminate {
    from { background-position: 200% 0; }
    to { background-position: -200% 0; }
}